.gallery {
  grid-row: 6 / 7;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  transition: 0.25s ease;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
  }

  @media screen and (max-width: 34.375em) {
    grid-row: 9 / 10;
  }
}
