.header {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;

  background-image: url(../images/desktop/image-header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  text-align: center;
  overflow: hidden;

  &__icon {
    display: inline-block;
    margin-top: 4rem;
    transition: 0.5s ease-in-out;
  }

  @media screen and (max-width: 34.375em) {
    background-image: url(../images/mobile/image-header.jpg);
  }
}

.arrow {
  animation: arrowDown 1s linear infinite;
}

.meluncur {
  animation: goDown 1.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes goDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3.5rem);
  }

  100% {
    transform: translateY(500rem);
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(8px);
  }

  25% {
    transform: translateY(4px);
  }

  25% {
    transform: translateY(0);
  }
}
