.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  padding: 0 2rem;
  margin-bottom: 4rem;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-out;

    @media screen and (max-width: 34.375em) {
      position: absolute;
      top: 20rem;
      left: 50%;
      width: 80vw;
      padding: 3rem;
      opacity: 0;
      transform-origin: top left;
      transform: scale(0) translate(-50%, -50%);
      flex-direction: column;
      background-color: $white;
      z-index: 3;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &::after {
      @media screen and (max-width: 34.375em) {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        transform: translateY(-95%);
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid $white;
        border-bottom: 15px solid $white;
      }
    }
  }

  &__list {
    list-style: none;

    &:not(:last-child) {
      margin-right: 2.5rem;

      @media screen and (max-width: 34.375em) {
        margin-right: 0;
        margin-bottom: 2.5rem;
      }
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $white;
    transition: 0.2s ease-in;

    &:hover {
      color: rgba($dark-blue, 0.75);
      transform: scale(1.1);

      @media screen and (max-width: 34.375em) {
        color: $dark-desaturated-cyan;
        transform: scale(1);
      }
    }

    @media screen and (max-width: 34.375em) {
      color: $grayish-blue;
      font-size: 1.75rem;
    }
  }

  &__btn {
    display: inline-block;
    text-decoration: none;
    color: $white;
    padding: 0.75rem 1.15rem;
    border-radius: 24px;
    transition: 0.25s ease-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);

      @media screen and (max-width: 34.375em) {
        background-color: $yellow;
      }
    }

    @media screen and (max-width: 34.375em) {
      color: $dark-blue;
      background-color: $yellow;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      font-family: "Fraunces", serif;
      font-weight: map-get($font-weight, fraunces-black);
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 48em) {
    margin-bottom: 5rem;
  }
}

.menu {
  &__checkbox {
    opacity: 0;
    height: 2.4rem;
    width: 2.4rem;
    position: relative;
    right: 1rem;
    z-index: 5;
    cursor: pointer;
  }

  &__button {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    top: calc(7rem / 4);
    right: 3rem;
    z-index: 4;
    text-align: center;
    cursor: pointer;
  }

  //! ICON
  &__icon {
    position: relative;
    margin-top: 1.5rem;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 2rem;
      height: 2px;
      background-color: $white;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;

      transition: 0.3s;
    }

    &::before {
      top: -0.7rem;
    }
    &::after {
      top: 0.7rem;
    }
  }

  &__button:hover &__icon::before {
    top: -0.8rem;
  }

  &__button:hover &__icon::after {
    top: 0.8rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(-135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(135deg);
    top: 0;
  }

  @media screen and (min-width: 34.375em) {
    display: none;
  }
}

.navbar__item.show {
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
}
